*.py[cod]

.cache
.git
.vagrant
.tox
node_modules
cover
coverage.xml
*.egg-info
*.md
*.c
*.so
*.o
logs

Dockerfile
docker-compose.yml
.bowerrc
.DS_Store
.gitignore
.vscode
tox.ini
Vagrantfile

env
references
manuscripts
